Package: libteam-dev
Source: libteam
Version: 1.30-1
Architecture: amd64
Maintainer: Dmitry Smirnov <onlyjob@debian.org>
Installed-Size: 35
Depends: libteam5 (= 1.30-1), libteamdctl0 (= 1.30-1), libnl-3-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://libteam.org
Description: library for controlling team network device -- dev files
 Libteam provides a mechanism to team multiple NICs (ports) at OSI Layer 2
 (Data link) into a single virtual NIC. The process is called "channel
 bonding", "Ethernet bonding", "channel teaming", "link aggregation", etc.
 This is already implemented in the Linux kernel by the bonding driver but
 unlike the bonding driver, libteam (user space) has the following
 additional features:
  * load-balancing for LACP support
  * NS/NA (IPV6) link monitoring
  * port priorities and stickiness ("primary" option enhancement)
  * separate per-port link monitoring setup
 .
 Libteam requires Linux kernel 3.3 or higher.
 .
 This package provides development headers.
