#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	#./autogen.sh
	dh_auto_configure -- \
                          --disable-silent-rules \
                          --enable-static=no

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp
